@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<SecretPage>

@using HowToChangeAMembersEmail.Web
@using Umbraco.Cms.Core.Security;
@inject IMemberManager _memberManager;

@{
	Layout = "Master.cshtml";
	var currentMember = await _memberManager.GetCurrentMemberAsync();
}

<h1>@Model.Secret is safe with @currentMember.UserName</h1>

<br />

@using (Html.BeginUmbracoForm<AuthenticationSurfaceController>(action: nameof(AuthenticationSurfaceController.ChangeEmail)))
{
	<input type="email" id="new_member_email" name="new_member_email" value="@currentMember.Email" required>
	<input type="password" id="member_password" name="member_password" required>
	<input type="submit" value="Change Email">
}